.Tag-Base {
  border-radius: 0.375rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
}

.Valid {
  border: 1px solid #424242;
}

.InValid {
  background-color: #ffb2b2;
}
